<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57976/StringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringService"
                contract="SampleWebService.IStringService" name="BasicHttpBinding_IStringService" />
        </client>
    </system.serviceModel>
</configuration>